.main-nav {
  padding-left: 40px;
  min-height: 70px;
}

.nav-logo-text {
  color: #000;
}

.nav-logo-text:hover {
  color: #fff;
}

.nav-login-logout {
  display: unset;
  color: #fff;
  margin-right: 15px;
}

.navbar-logout-button {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
}

.btn h6 {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .nav-login-logout {
    margin-right: 40px;
  }
}
